jsonnull.com {
  ext .html
  root /srv
  gzip

  push / /main.js

  # On homepage, push the homepage bundle
  push /index.html /home.js
}

www.jsonnull.com {
  redir / https://jsonnull.com/{uri} 302
}
