@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    color: white;
    background: rgba(109, 117, 153, 0.99);
    text-shadow: none;
    opacity: 1;
}

::selection {
    color: white;
    background: rgba(109, 117, 153, 0.99);
    text-shadow: none;
    opacity: 1;
}

@layer components {
    .text-dimmed {
        @apply text-zinc-500;
    }
    .underline-themed {
        @apply decoration-zinc-500 hover:decoration-black sm:underline;
    }
}
